:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Strong-Cyan);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
